#box {
    filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9; -khtml-opacity: 0.9;
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 60%;
    height: 30%;
    z-index: 100;
    pointer-events: none;
}